#root {
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: #333; /* Background color for the navbar */
  padding: 10px; /* Add padding around the navbar */
}

.nav-link {
  color: #fff; /* Text color for the links */
  text-decoration: none; /* Remove underline from the links */
  margin-right: 20px; /* Add margin between the links */
}

.nav-link:hover {
  text-decoration: underline; /* Underline the link on hover */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
